In [0]:
print("Hello World!")

Hello World!

In [0]:
 a_variable  = "String"
 print(a_variable)
 type(a_variable)

String

str

In [0]:
""" This is a multi line comment """

' This is  '

In [0]:
string_example = "Hello! My name is Dishant"
sub_string = string_example[0:5]
print(sub_string)

Hello

In [0]:


example_dict = {1: "Dishant", 2: "Khanna"}
print(example_dict[2])

Khanna

In [0]:
list_example = [1,2,3,4,5,6]
for i in list_example:
  print(i)

1
2
3
4
5
6

In [0]:
for i in i < 10 not i >0:
  print(i)

1@4@7@10@13@16@19@

In [0]:
string_example1 = "Hello World!"
print(string_example1[-1:0])

In [0]:

for i in range(10):
  print("This number is  {0} next is {1}".format(i, "String"))

This number is  0 next is String
This number is  1 next is String
This number is  2 next is String
This number is  3 next is String
This number is  4 next is String
This number is  5 next is String
This number is  6 next is String
This number is  7 next is String
This number is  8 next is String
This number is  9 next is String

In [0]:
len(list_example)
print(list_example)
print(len(list_example))

[1, 2, 3, 4, 5, 6]
6

In [0]:
i = 10

if i < 10: 
  print(False)
elif i == 10:
  print(True)
else:
  if i <15:
    print(True)
  else:
d    print(False)

False

In [0]:
def myFunction(i: int) -> int:
  return i+1


if __name__ == "__app__":


if _name__ == "__main__":
i = 10
a = myFunction(i)
print(a)

11

In [0]:
list_example2 = [1,2,3,4,5,6]
list_example3 = [i+1 for i in list_example2]
print(list_example3)
dict_example2 = {1:10, 2:20, 3:30, 4:40}
dict_example3 = {value:key for key, value in dict_example2.items()}
print(dict_example3)

[2, 3, 4, 5, 6, 7]
{10: 1, 20: 2, 30: 3, 40: 4}

In [0]:
i

In [0]:
i = 0
while i < 10:
  print(i)
  i += 1